<div> 
   <h3>Country: <%= country %></h3>
   <ul>
    <li>Temperature in Farenheit: <%= tempF %></li>
    <li>Temperature in Celcius: <%= tempC %></li>
    
    <li>Condition: <%=condition%></li>
   </ul>
</div>
